doctype html
html(ng-app="candy")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="generator",content="#{sys.name}",version="#{sys.version}")
    block meta
      meta(name="keywords",content="#{site.name}")
      meta(name="description",content="#{site.desc}")
    title 
      block title
        |#{site.name}
    link(rel='shortcut icon',type="image/x-icon",href="/candy-theme-flat/images/favicon.ico")
    link(rel='stylesheet', href='/candy-theme-flat/stylesheets/style.css')
    link(rel='stylesheet', href='/candy-theme-flat/stylesheets/duoshuo.css')
    block css
  body
    block header
      #header
        #ihd.container.clearfix
          .row
            .col-lg-2
              #logo.clearfix.fn-left
                h1.clearfix
                  a(href="/").logo #{site.name}
            .col-lg-10
              .desc
    block banner
      include banner
    #cnt
      #icnt.container.clearfix
        .row
          block main
            .col-lg-9
              .not-found.clearfix
                h3 #{code} 
                  - if (msg)
                    span.msg #{msg}
                  - else 
                    span 啊哦，服务器或者数据库出问题了，麻烦联络管理员解决。
                - if (error)
                  p.error-detail #{error.toString()}
            .col-lg-3.sidebar
              block sidebar
                include signin
                include widgets/search
    block footer
      #footer.footer
        #ft.clearfix
          #ift.container.clearfix.copyright &copy; #{new Date().getFullYear()} #{site.name}
            .poweredby.pull-right Powered by 
              a(href="https://github.com/turingou/candy",title="npm install candy").candy candy