#footer.footer
  #footer-inner.footer-inner.container.clearfix.copyright &copy; #{new Date().getFullYear()} #{site.name} #{site.desc}. 
    .poweredby.pull-right Powered by 
      a(href="https://github.com/turingou/candy",title="npm install candy").candy #{sys.name} 
      |v#{sys.version}